* {
    box-sizing: border-box;
}
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0px;
}

/* HEADER STYLING */

header {
    height: 70px;
    background-color: rgb(238, 48, 48);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px;
}
#app-logo {
    background-image: url(../../images/shopping-list-white.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    box-shadow: 2px black;
}
#app-logo:hover {
    background-image: url(../../images/shopping-list-blue.png);
}
.searcbar {
    display: flex;
    align-items: center;
}
#search-input {
    height: 30px;
    width: 40vw;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgb(230, 118, 118);
    border: 2px solid rgb(192, 21, 21);
    color: white;
    padding: 10px;
}
#search-input:hover, #search-input:active {
    color: #0bdeff;
    border-color: #0bdeff;

}
.searchButton {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: rgb(230, 118, 118);
    border: 2px solid rgb(192, 21, 21);
}
.searchButton:hover {
    cursor: pointer;
    color: #0bdeff;
    border-color: #0bdeff;
}
.new-job {
    background-image: url(../../images/AddNewJob-white.png);
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 30px;
}
.new-job:hover {
    background-image: url(../../images/AddNewJob-blue.png);
}

/* MAIN CONTAINER STYLING */

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

/* FOOTER STYLING */

footer {
    background-color: rgb(238, 48, 48);
    padding: 10px;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* NEW JOB CONTAINER STYLING */

.job-form {
    padding: 20px;
}
.addInput {
    border: 2px solid rgb(192, 21, 21);
    font-size: 16px;
    border-radius: 20px;
    height: 30px;
    padding: 10px;
    width: 90%;
}
.addInput:hover {
    box-shadow: 2px 2px 10px black;
}
.job-input-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    align-items: center;
}
.cat-input-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    align-items: center;
}
.date-input-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    align-items: center;
}

/* ADD BUTTON & ANIMATION */

.cta {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid rgb(192, 21, 21);
    background-color: rgb(230, 118, 118);
    color: #fff;
    transition: width 0.4s;
    position: absolute;
    font-size: 15px;
  }
  .cta:hover {
    width: 100px;
    transition: width 0.4s;
    cursor: pointer;
  }
  
  .cta i {
    opacity: 1;
    transition: opacity 0.3s
  }
  
  .cta:hover i {
    opacity: 0;
    transition: opacity 0.3s
  }
  
  .cta .button-text {
    opacity: 0;
    transition: opacity .3s;
    position: absolute;
    width: 100%;
    left: 0;
   }
  
  .cta:hover .button-text {
    opacity: 1;
    transition: opacity 0.3s
  }
